.download {
    width: 100%;
    &-content {
        padding-top: 114px;
        padding-bottom: 114px;
        text-align: center;
    }
    &-title {
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
        padding: 17.5px 0;
        margin-bottom: 5px;
    }
    &-text {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 47.7px;
    }
}

@media (max-width: 1024px) {
    .download {
        &-content {
            padding-top: 77.5px;
            padding-bottom: 78px;
        }
        &-title {
            font-size: 24px;
            line-height: 28px;
        }
        &-text {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 43.3px;
        }
    }
    .btn-red_download {
        width: 314px;
        padding: 29.5px 0;
        font-size: 18px;
        line-height: 21px;       
    }
}

@media (max-width: 450px) {
    .download {
        &-content {
            padding-top: 35px;
            padding-bottom: 45px;
        }
        &-title {
            font-size: 18px;
            line-height: 21px;
            padding: 19px 0;
        }
        &-text {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }
    }
    .btn-red_download {
        width: 279px;   
    }
}